<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="checkout_onepage_controller_success_action">
		<observer name="dpdro_shipping_observer" instance="DpdRo\Shipping\Model\Checkout\Observer" />
	</event>
	<event name="payment_method_is_active">
		<observer name="dpdro_payment" instance="DpdRo\Shipping\Model\Observer" />
	</event>
	<event name="sales_order_save_after">
		<observer name="dpdro_place_order_after" instance="DpdRo\Shipping\Observer\Orderplaceafter" />
	</event>
</config>
